{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <link href="{% static 'css/project/tasks.css' %}" rel="stylesheet" />
{% endblock %}

{% block contenedor %}
    
    <div>
        <h3>{{ tarea.titulo }}</h3>
        <p>Descripción: {{ tarea.descripcion }}</p>
        <p>Prioridad: {{ tarea.get_prioridad_display }}</p>
        <p>Estado: {{ tarea.get_estado_display }}</p>
        <p>Fecha límite: {{ tarea.fecha_limite|date:"d/m/Y" }}</p>
        
        {% if desarrollador %}
            <p>Desarrollador: {{ desarrollador.nombre }}</p>
        {% endif %}
        
        <h4>Observaciones:</h4>
        {% for obs in observaciones %}
            <div>
                <p>{{ obs.obsevaciones_cambiada }}</p>
                <small>Por: {{ obs.usuario_observacion.nombre }}</small>
            </div>
        {% empty %}
            <p>No hay observaciones</p>
        {% endfor %}
    </div>
{% endblock %}
